.nav-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.nav-list > li:before {
    background-color: #629cc9;
    content: "";
    display: none;
    height: 41px;
    left: 0;
    max-width: 3px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 3px;
    z-index: 1;
}
.no-skin .nav-list > li.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2b7dbc;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 0 0;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: -1px;
    z-index: 1;
}
.no-skin .nav-list > li {
    border-color: #e5e5e5;
}
.nav-list > li {
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    float: none;
    padding: 0;
    position: relative;
}
.nav-list .nav-header, .nav-list > li, .nav-list > li > a {
    margin: 0;
}

.no-skin .nav-list li.active > a:after {
    -moz-border-right-colors: #2b7dbc;
    border-right-color: #2b7dbc;
}
.no-skin .nav-list li > a:hover:after {
    -moz-border-right-colors: #f5f5f5;
    border-right-color: #f5f5f5;
}
.nav-list li > a:hover:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 14px 10px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
}

.nav-list li.active > a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 14px 10px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
}
.no-skin .nav-list > li.active > a, .no-skin .nav-list > li.active > a:focus, .no-skin .nav-list > li.active > a:hover {
    background-color: #fff;
}
.no-skin .nav-list > li.active > a {
    color: #2b7dbc;
    font-weight: 700;
}

.nav-list > li > a {
    display: block;
    font-size: 13px;
    height: 39px;
    line-height: 17px;
    padding-left: 7px;
    text-decoration: none;
    text-shadow: none !important;
}


.no-skin .nav-list > li:hover > a {
    color: #266cad;
}



.nav-list .nav-header, .nav-list > li, .nav-list > li > a {
    margin: 0;
}
.nav-list li > a:focus {
    outline: 0 none;
}

.nav-list > li:last-child {
    border-bottom-width: 1px;
}
.nav-list > li.active > a {
    font-weight: 700;
}

.nav-list > li > a > .menu-icon {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 2px;
    min-width: 30px;
    text-align: center;
    vertical-align: sub;
}

@media only screen and (min-width: 992px) {
.main-container.container .sidebar:not(.h-sidebar) .nav-list > li:before {
    left: -2px;
}
}
.nav-list > li:hover:before {
    display: block;
}
.nav-list > li a > .arrow {
    display: block;
    font-size: 18px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: none;
    top: 12px;
    width: 14px !important;
}
.nav-list > li.separator {
    background-color: transparent;
    box-shadow: none;
    height: 3px;
    margin: 1px 0;
    position: static;
}
.nav-list > li.active .submenu {
    display: block;
}
.nav-list > li .submenu {
    display: none;
    line-height: 1.5;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.nav-list > li .submenu > li {
    margin-left: 0;
    position: relative;
}
.nav-list > li .submenu > li > a {
    border-top-style: dotted;
    border-top-width: 1px;
    display: block;
    margin: 0;
    padding: 7px 0 9px 37px;
    position: relative;
}
.nav-list > li .submenu > li > a:hover {
    text-decoration: none;
}
.nav-list > li .submenu > li a > .menu-icon {
    background-color: inherit;
    display: none;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    left: 10px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 18px;
    z-index: 1;
}
.nav-list > li .submenu > li.active > a > .menu-icon, .nav-list > li .submenu > li:hover > a > .menu-icon {
    display: inline-block;
}
.nav-list > li > .submenu {
    border-top: 1px solid;
}
.nav-list > li > .submenu > li:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: dotted;
    border-width: 1px 0 0;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    top: 17px;
    width: 7px;
    z-index: 1;
}
.nav-list > li > .submenu:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 0 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 18px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.nav-list li.active > a > .arrow, .nav-list li.open > a > .arrow, .nav-list li:hover > a > .arrow {
    color: inherit;
}
.nav-list > li > .submenu li > .submenu {
    display: none;
}
.nav-list > li > .submenu li.active > .submenu {
    display: block;
}
.nav-list > li > .submenu a > .arrow {
    font-size: 16px;
    right: 10px;
    top: 10px;
}
.nav-list > li > .submenu > li:first-child > a {
    border-top-width: 0;
}
.nav-list > li > .submenu li > .submenu > li {
    line-height: 18px;
}
.nav-list > li > .submenu li > .submenu > li:before {
    display: none;
}
.nav-list > li > .submenu li > .submenu > li > a {
    margin-left: 20px;
    padding-left: 22px;
}
.nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    margin-left: 20px;
    padding-left: 38px;
}
.nav-list > li > .submenu li > .submenu > li a > .menu-icon {
    background-color: transparent;
    color: inherit;
    display: inline-block;
    margin-right: 4px;
    position: static;
    width: auto;
}
.nav-list > li > .submenu li > .submenu > li a .arrow, .nav-list > li > .submenu li > .submenu > li a .menu-icon {
    color: inherit;
}
.nav-list > li > .submenu li.open:not(.hover) > a > .menu-icon {
    display: inline-block;
}
.nav-list a .badge, .nav-list a .label {
    font-size: 12px;
    opacity: 0.88;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    right: 10px;
    top: 9px;
}
.nav-list a .badge .ace-icon, .nav-list a .label .ace-icon {
    margin: 0;
    vertical-align: middle;
}
.nav-list a.dropdown-toggle .badge, .nav-list a.dropdown-toggle .label {
    right: 26px;
}
.nav-list li:hover > a .badge, .nav-list li:hover > a .label {
    opacity: 1;
}
.nav-list .submenu .submenu a .badge, .nav-list .submenu .submenu a .label {
    top: 6px;
}
