<style>
.boxEGuage{
height:200px;
}

</style>
<script>
/*start page3*/
//dial chart start1

   s1 = [52200];

   plot4 = $.jqplot('eGuage1',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start1
 //dial chart start2

   s1 = [52200];

   plot4 = $.jqplot('eGuage2',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start2
 //dial chart start3

   s1 = [52200];

   plot4 = $.jqplot('eGuage3',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start3
 //dial chart start4

   s1 = [52200];

   plot4 = $.jqplot('eGuage4',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start4
 //dial chart start5

   s1 = [52200];

   plot4 = $.jqplot('eGuage5',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start5
 //dial chart start6

   s1 = [52200];

   plot4 = $.jqplot('eGuage6',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start6
 //dial chart start7

   s1 = [52200];

   plot4 = $.jqplot('eGuage7',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start7
 //dial chart start8

   s1 = [52200];

   plot4 = $.jqplot('eGuage8',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start8
 //dial chart start9

   s1 = [52200];

   plot4 = $.jqplot('eGuage9',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start9
 //dial chart start10

   s1 = [52200];

   plot4 = $.jqplot('eGuage10',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start10
 //dial chart start11

   s1 = [52200];

   plot4 = $.jqplot('eGuage11',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['#66cc66', '#E7E658', '#cc6666']
           }
       }
   });
 //dial chart start11
 //dial chart start12

   s1 = [52200];

   plot4 = $.jqplot('eGuage12',[s1],{
       seriesDefaults: {
           renderer: $.jqplot.MeterGaugeRenderer,
           rendererOptions: {
               label: 'Metric Tons per Year',
               labelPosition: 'bottom',
               labelHeightAdjust: -5,
               intervalOuterRadius: 85,
               ticks: [10000, 30000, 50000, 70000],
               intervals:[22000, 55000, 70000],
               intervalColors:['red', 'yellow', 'green']
           }
       }
   });
 //dial chart start12
/*end page3*/
</script>
<div class="row">
	<div class="col-md-3">
		<div id="eGuage1" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage2" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage3" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage4" class="boxEGuage"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div id="eGuage5" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage6" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage7" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage8" class="boxEGuage"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div id="eGuage9" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage10" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage11" class="boxEGuage"></div>
	</div>
	<div class="col-md-3">
		<div id="eGuage12" class="boxEGuage"></div>
	</div>
</div>

