<style>
.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.demo-container {
	position: relative;
	height: 310px;
}
.lineGraphHr-npr {
	width:auto;

}
.boxGraphEdu{
	height: 300px;
}
</style>
<script>
/*start bar chart1*/
var data3 = [ ["January", 10], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9] ];

$.plot("#eBarChart1", [ data3 ], {
	series: {
		bars: {
			show: true,
			barWidth: 0.6,
			align: "center"
		}
	},
	xaxis: {
		mode: "categories",
		tickLength: 0
	}
});
/*end bar chart1*/
/*start bar chart2*/
var data4 = [ ["January", 10], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9],["January3", 10], ["February3", 8], ["March3", 4], ["April3", 13], ["May3", 17], ["June3", 9] ];

$.plot("#eBarChart3", [ data4 ], {
	series: {
		bars: {
			show: true,
			barWidth: 0.6,
			align: "center"
		}
	},
	xaxis: {
		mode: "categories",
		tickLength: 0
	}
});
/*end bar chart2*/
 /*start bar chart3*/
var data5 = [ ["January", 10], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9],["January2", 10], ["February2", 8], ["March2", 4], ["April2", 13], ["May", 17], ["June2", 9] ];

$.plot("#eBarChart4", [ data5 ], {
	series: {
		bars: {
			show: true,
			barWidth: 0.6,
			align: "center"
		}
	},
	xaxis: {
		mode: "categories",
		tickLength: 0
	}
});
/*end bar chart3*/
</script>

<div class="row">
	<div class="col-md-6">
		<div class="demo-container">
			<div id="eBarChart1" class="demo-placeholder boxGraphEdu"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="demo-container">
			<div id="ePieChart2" class="demo-placeholder boxGraphEdu"></div>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="demo-container">
			<div id="eBarChart3" class="demo-placeholder boxGraphEdu"></div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="demo-container">
			<div id="eBarChart4" class="demo-placeholder boxGraphEdu"></div>
		</div>
	</div>
</div>