

				
<div class="row">
	<div class="col-md-4 boxGraphHr">
	
		<div class="panel panel-info">
			<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body "> 
				<div class="demo-container">
					<div id="pieGraph1" class="demo-placeholder pieGraphHr"></div>
				</div>
			 </div>
		</div>
	
	</div>
	<div class="col-md-4 boxGraphHr">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body"> 
				<div class="demo-container">
					<div id="pieGraph2" class="demo-placeholder pieGraphHr"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 boxGraphHr">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body">
				<div class="demo-container">
					<div id="pieGraph3" class="demo-placeholder pieGraphHr"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 boxGraph">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body">
				<div class="demo-container">
					<div id="pieGraph4" class="demo-placeholder pieGraphHr"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 boxGraph">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body">
				<div class="demo-container">
					<div id="pieGraph5" class="demo-placeholder pieGraphHr"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 boxGraph">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body">
				<div class="demo-container">
					<div id="pieGraph6" class="demo-placeholder pieGraphHr"></div>
				</div>
			</div>
		</div>
	</div>
</div>