<br>
<div class="row">
		  		<div class="col-md-10">
		  			<table class="table table-hover">
				  		<tr>
				  			<td>First Name - Last Name</td>
				  			<td>Kosit Aromsava</td>
				  			<td>Epmpoyee Id</td>
				  			<td>1010255005</td>
				  		</tr>
	
				  		
				  		<tr>
				  			<td>Position</td>
				  			<td>Employee Dayly</td>
				  			<td>Date</td>
				  			<td>18/7/2555</td>
				  		</tr>
				  		
				  		
				  		<tr>
				  			<td>Department/Division</td>
				  			<td>1010 GL+AP+Asset	</td>
				  			<td>Exp</td>
				  			<td>0.04  Year</td>
				  		</tr>
				  		
				  		
				  		<tr>
				  			<td>Payment</td>
				  			<td>KBANK</td>
				  			<td>ID KPANK</td>
				  			<td>3252712975</td>
				  		</tr>
				  			
				  		
				  		<tr>
				  			<td>Social Security deductions</td>
				  			<td>Social Security deductions ID:1540500054235</td>
				  			<td>Place Hopital</td>
				  			<td></td>
				  		</tr>
				  	
				  		
				  		<tr>
				  			<td>Loan</td>
				  			<td></td>
				  			<td></td>
				  			<td></td>
				  		</tr>
				
				  		
				  		<tr>
				  			<td>Number of loan agreement</td>
				  			<td></td>
				  			<td>Date</td>
				  			<td></td>
				  		</tr>
				  		<tr>
				  			<td>Rest</td>
				  			<td>0.00</td>
				  			<td></td>
				  			<td></td>
				  		</tr>
				  	
				  		
				  		<tr>
				  			<td>Installment</td>
				  			<td></td>
				  			<td> </td>
				  			<td></td>
				  		</tr>
				  	
				  		
				  		<tr>
				  			<td>Id Installment</td>
				  			<td>Health</td>
				  			<td>Date Contract</td>
				  			<td></td>
				  		</tr>
				  		
				  		<tr>
				  			<td>Installment Total</td>
				  			<td>470.00</td>
				  			<td>Installment repayment</td>
				  			<td>360</td>
				  		</tr>
				 
				  		
				  		<tr>
				  			<td>The remaining time.</td>
				  			<td>120.00	</td>
				  			<td></td>
				  			<td></td>
				  		</tr>
				  		
				  	</table>
				  	ผลการประเมินผลงานเฉลี่ย ของ นายวิชัย เก่งกาจ ได้ 74.78 %
		  		</div>
		  		<div class="col-md-2">
		  			 <div class="well well-sm boxGraph">Picture</div>

		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-md-12">
		  			<table class="table table-hover">
		  				<thead>
		  				
		  					<tr>
		  						<th>Perspective</th>
		  						<th>KPI</th>
		  						<th>UOM	</th>
		  						<th>Weight</th>
		  						<th>Target</th>
		  						<th>Actual</th>
		  						<th>% Actual </th>
		  						<th>vs Target </th>
		  						<th>Weight Percentage</th>
		  					</tr>
		  				</thead>
		  				<tbody>
		  					<tr>
		  						<td>&npsp;</td>
		  						<td>&npsp;</td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  					</tr>
		  					<tr>
		  						<td>&npsp;</td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  					</tr>
		  					<tr>
		  						<td>&npsp;</td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  					</tr>
		  					<tr>
		  						<td>&npsp;</td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  						<td></td>
		  					</tr>
		  				</tbody>
		  			</table>
		  		</div>
		  	</div>