
	<link rel="stylesheet" href="../easy-pie-chart/demo/style.css"/>

	<span class="chart" data-percent="86">
		<span class="percent"></span>
	</span>

	<style>
	
.percent {
    display: inline-block;
    line-height: 50px;
    margin-left: -55px;
    z-index: 2;
}

	</style>

	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="../easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
	<script>
	$(function() {
		$('.chart').easyPieChart({
			easing: 'easeOutBounce',
			size:'50',
			lineWidth:'5',
			//trackColor:false ,
			scaleColor:false,
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
		var chart = window.chart = $('.chart').data('easyPieChart');
		$('.js_update').on('click', function() {
			chart.update(Math.random()*200-100);
		});
	});
	</script>
