body{
    /*background:#F2F5F7;*/
    font-size:14px;
    font-family:Tahoma;
    overflow-y:scroll;
	overflow-x:hidden;

    }
.panel{
	border-radius:2px;
}
 #lineChart{
    	height:400px;
    }
    
    
    #slideLeft{
    width:200px;
   /* background:#cccccc;*/
    position:absolute;
    height:auto;
    }
    #mainContent{
    margin-left:201px;
    position:relative;
    margin-top:5px;
   
    /*background:red;*/
    }
    .sidebar-background {
    background: none repeat scroll 0 0 #EAEAEA;
    border-right: 1px solid #CCCCCC;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: -1;
    
}
	.titleTab{
	background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    display: block;
    /*line-height: 40px;*/
    height:40px;
    min-height: 43px;
    padding: 0 0px 0 0;
    position: relative;
    /*padding-top:12px;*/
	}
	.titleTab .boxTitle{
	background-color: #F5F5F5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 1px solid #e5e5e5;
    /*line-height: 40px;*/
    min-height: 43px;
    padding: 0 12px 0 0;
    width:200px;
    position:relative;
    float:left;
	}
	.titleTab .boxTitle .boxC{
	/*
	width:44px;
	background:red;
	height:41px;
	float:left;
	margin-left:2px;
	*/
	border-width: 4px;
    line-height: 24px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    width: 41px;
	}
	.boxTitleN{
	float:left;
	width:auto;
	padding-top: 10px;
	}
	.boxTitleR{
	float:right;
	text-align:right;
	width:200px;
	}
	.input-group-addon, .input-group-btn, .input-group .form-control{
	height:25px;
	}
	.boxNav{
	padding-left:0px;
	}
	.boxB{
	border-radius: 0;
    height: 45px;
    width: 65px;
	}
    .navbar{
    min-height: 45px;
	}
	.dropdown{
	
	}
	/*
	Enlarge ยขร�ร’ร�
	Collapse ร�ร�ยบ
	*/
	.dropdownEnlarge{
		
	}
	.dropdownCollapse{
		
	}
	
	ul.subMenu{
  	padding:0px;
  	margin:0px;
  	margin-top:0px;
  	
  	}
	ul.subMenu  li{
	/*border-top:1px solid #cccccc;*/
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	}
	ul.subMenu  li{
	border-left:1px solid #cccccc;
	}
	ul.subMenu  li .dash a {
	
	}
	ul.subMenu  li .dash a:hover{
	background:#cccccc;
	display:block;
	}
	ul.subMenu  li .dash{
	hieght:1px;
	border-top:1px #cccccc solid;
	width:20px;
	/*background:red;*/
	padding:0px;
	margin:0px;
	position:relative;
	top:10px;
	}
	
	.navList {
    border: 1px solid #cccccc;
    float: right;
    font-size: 10px;
    height: 12px;
    left: -5px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -25px;
    width: 12px;
}
	.boxLeft{
	margin-left:10px;
	padding-top: 5px;
	}
	
	ul.subMenu li{
	padding:5px;
	border-top:1px solid #f5f5f5;
	list-style:none;
	}
	ul.subMenu li:hover{
	border-top:1px solid #f5f5f5;
	background:white;
	}
	
	
	.searchButton{
	position:absolute; 
	right:80px; 
	top:13px;
	}
	.buttonFullScreen{
	width:30px;height:30px;
	}
	.buttonGearOption{
	/*background:#f1da91;*/
	width:30px;
	height:30px;
	top: 2px;
	
	/*position:relative;*/
	
	}
	.gearOption > span{

    background: none repeat scroll 0 0 #f1da91;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 28px;
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;

	}
	
	
/*option right withdraw Enlarge start*/
.optionArea{
	width:330px;
	position:absolute;
	top:8px;
	left:-30px;
	z-index:999;
	overflow: hidden;
	
	
}
.optionArea .option{
	width:300px;
	height:140px;
	background:#428bca;
	border-radius:0px 0px 0px 0px;
	float:right;
}
.optionArea .gear{
	float:left;
	width:30px;
	height:30px;
	background:#428bca;
	border-radius:5px 0px 0px 5px;
	padding:5px;
	cursor:pointer;
}
.fontWhite{
	color:white;
}
.tableOption{
	padding-top:10px;
	padding-left:10px;
}
/*option right withdraw Enlarge End*/
	
.boxTopRight{
	
	padding-top:7px;
}

/*set header start*/
.navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-brand{
	padding: 12px;
}
/*set header end*/

.iconMenu{
	
	font-size:18px;
	font-wieght:blod;
}
.menu-text{
	padding-bottom:2px;
}
.listGroupTop{
	margin-top: 42px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item {
    background: none repeat scroll 0 0 white;
    background-color: #ffffff;
    /*border-right: 1px solid #dddddd;*/
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;


}
.boxLeftTopSmall{
	width:40px;
	display:none;
}

.boxSmall{
	border-radius:0px;
	width:15px;
	height:15px;
	float:left;
	margin:1px;
}
.colorGreen{
	background:#5cb85c;
}
.colorBlue{
	background:#5bc0de;
}
.colorOrange{
	
	background:#ffb752;
}
.colorRed{
	background:#d9534f;
}

.list-group  a.active {
   color:#428bca;
   background:white;
   border:1px solid #dddddd;
}


.list-group  a.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2b7dbc;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 0 0;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: -1px;
    z-index: 1;
}
/*List Menu Start*/
.nav-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    background:white;
    border-right:1px solid #f5f5f5;
}
.nav-list > li:before {
    background-color: #629cc9;
    content: "";
    display: none;
    height: 41px;
    left: 0;
    max-width: 3px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    width: 3px;
    z-index: 1;
}
.listGroupTop .nav-list > li.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #2b7dbc;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 0 0;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: -1px;
    z-index: 1;
}
.listGroupTop .nav-list > li {
    border-color: #e5e5e5;
}
.nav-list > li {
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    float: none;
    padding: 0;
    position: relative;
}
.nav-list .nav-header, .nav-list > li, .nav-list > li > a {
    margin: 0;
}

.listGroupTop .nav-list li.active > a:after {
    -moz-border-right-colors: #2b7dbc;
    border-right-color: #2b7dbc;
}

.listGroupTop .nav-list li > a:hover:after {
    -moz-border-right-colors: #f5f5f5;
    border-right-color: #f5f5f5;
}
.listGroupTop li > a:hover:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 14px 10px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
}


.nav-list li.active > a:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 14px 10px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
}
.listGroupTop .nav-list > li.active > a, .listGroupTop .nav-list > li.active > a:focus, .listGroupTop .nav-list > li.active > a:hover {
    background-color: #fff;
}
.listGroupTop .nav-list > li.active > a {
    color: #2b7dbc;
    font-weight: 700;
}

.nav-list > li > a {
    display: block;
    font-size: 13px;
    height: 39px;
    line-height: 17px;
    padding-left: 7px;
    text-decoration: none;
    text-shadow: none !important;
}


.listGroupTop .nav-list > li:hover > a {
    color: #266cad;
}



.nav-list .nav-header, .nav-list > li, .nav-list > li > a {
    margin: 0;
}
.nav-list li > a:focus {
    outline: 0 none;
}

.nav-list > li:last-child {
    border-bottom-width: 1px;
}
.nav-list > li.active > a {
    font-weight: 700;
}

.nav-list > li > a > .menu-icon {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 2px;
    min-width: 30px;
    text-align: center;
    vertical-align: sub;
}

@media only screen and (min-width: 992px) {
.main-container.container .sidebar:not(.h-sidebar) .nav-list > li:before {
    left: -2px;
}
}
.nav-list > li:hover:before {
    display: block;
}
.nav-list > li a > .arrow {
    display: block;
    font-size: 18px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: none;
    top: 12px;
    width: 14px !important;
}
.nav-list > li.separator {
    background-color: transparent;
    box-shadow: none;
    height: 3px;
    margin: 1px 0;
    position: static;
}
.nav-list > li.active .submenu {
    display: block;
}
.nav-list > li .submenu {
    display: none;
    line-height: 1.5;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}
.nav-list > li .submenu > li {
    margin-left: 0;
    position: relative;
}
.nav-list > li .submenu > li > a {
    border-top-style: dotted;
    border-top-width: 1px;
    display: block;
    margin: 0;
    padding: 7px 0 9px 37px;
    position: relative;
}
.nav-list > li .submenu > li > a:hover {
    text-decoration: none;
}
.nav-list > li .submenu > li a > .menu-icon {
    background-color: inherit;
    display: none;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    left: 10px;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 18px;
    z-index: 1;
}
.nav-list > li .submenu > li.active > a > .menu-icon, .nav-list > li .submenu > li:hover > a > .menu-icon {
    display: inline-block;
}
.nav-list > li > .submenu {
    border-top: 1px solid;
}
.nav-list > li > .submenu > li:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: dotted;
    border-width: 1px 0 0;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    top: 17px;
    width: 7px;
    z-index: 1;
}
.nav-list > li > .submenu:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 0 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 18px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.nav-list li.active > a > .arrow, .nav-list li.open > a > .arrow, .nav-list li:hover > a > .arrow {
    color: inherit;
}
.nav-list > li > .submenu li > .submenu {
    display: none;
}
.nav-list > li > .submenu li.active > .submenu {
    display: block;
}
.nav-list > li > .submenu a > .arrow {
    font-size: 16px;
    right: 10px;
    top: 10px;
}
.nav-list > li > .submenu > li:first-child > a {
    border-top-width: 0;
}
.nav-list > li > .submenu li > .submenu > li {
    line-height: 18px;
}
.nav-list > li > .submenu li > .submenu > li:before {
    display: none;
}
.nav-list > li > .submenu li > .submenu > li > a {
    margin-left: 20px;
    padding-left: 22px;
}
.nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    margin-left: 20px;
    padding-left: 38px;
}
.nav-list > li > .submenu li > .submenu > li a > .menu-icon {
    background-color: transparent;
    color: inherit;
    display: inline-block;
    margin-right: 4px;
    position: static;
    width: auto;
}
.nav-list > li > .submenu li > .submenu > li a .arrow, .nav-list > li > .submenu li > .submenu > li a .menu-icon {
    color: inherit;
}
.nav-list > li > .submenu li.open:not(.hover) > a > .menu-icon {
    display: inline-block;
}
.nav-list a .badge, .nav-list a .label {
    font-size: 12px;
    opacity: 0.88;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    right: 10px;
    top: 9px;
}
.nav-list a .badge .ace-icon, .nav-list a .label .ace-icon {
    margin: 0;
    vertical-align: middle;
}
.nav-list a.dropdown-toggle .badge, .nav-list a.dropdown-toggle .label {
    right: 26px;
}
.nav-list li:hover > a .badge, .nav-list li:hover > a .label {
    opacity: 1;
}
.nav-list .submenu .submenu a .badge, .nav-list .submenu .submenu a .label {
    top: 6px;
}
/*List Menu End*/


/* summenu start */
ul.submenuHover{
	padding:0px;
	margin:0px;
	position:absolute;
	display:none;
	background:#f5f5f5;
	border:1px solid #f5f5f5;
	width:150px;
	/*border-radius:5px;*/
}

ul.submenuHover li.header{
	background:#f5f5f5;
	border-bottom:#dddddd 1px solid;
}
ul.submenuHover li{
	border-bottom:#dddddd 1px dotted;
	padding:10px;
	background:white;
	display:block;
}
ul.submenuHover li:hover:before{
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid green;
}
/* summenu end */

.glyphicon-plus-custom{
	left: 1px;
    top: -2px;
}
